<h1>name: <%= @pirate[:name] %>,weight: <%= @pirate[:weight] %>,height: <%= @pirate[:height] %></h1>


<h2>Ship name: <%= @pirate[:ships][0][:name] %>,Ship type: <%= @pirate[:ships][0][:type] %>,Ship Booty: <%= @pirate[:ships][0][:booty] %></h2>


<h2>Ship name: <%= @pirate[:ships][1][:name] %>,Ship type: <%= @pirate[:ships][1][:type] %>,Ship Booty: <%= @pirate[:ships][1][:booty] %></h2>
